* {
	box-sizing: border-box;
}
.container {
	margin: 0 auto;
	width:500px;
	height:500px;
	font-size:0;
	position:relative;
	background-image: url(../img/board.jpg);
	background-repeat:no-repeat;
	background-size:contain;
}

.container__checker {
	display:inline-block;
	width:50px;
	height:50px;
	border-radius: 50%;
	box-shadow: 5px 10px 15px;
	position:absolute;
	right:0;
}

.container__checker--red {
	background-color:red;
}
.container__checker--black {
	background-color:black;
}
.row-1 {
	top:30px;
}
.row-2 {
	top:83px;
}
.row-3 {
	top:141px;
}
.row-4 {
	top:308px;
}
.row-5 {
	top:360px;
}
.row-6 {
	top:418px;
}
.col-1 {
	left:30px;
}
.col-2 {
	left:85px;
}
.col-3 {
	left:140px;
}
.col-4 {
	left:195px;
}
.col-5 {
	left:255px;
}
.col-6 {
	left:310px;
}
.col-7 {
	left:365px;
}
.col-8 {
	left:420px;
}

